#recipe-details{
  width: 100%;
  padding: 3px;

  @media screen and (max-width: 576px) { // col-'xs'
    .page-title { 
      margin-left: 10px;
    }
    .recipe-panel { 
      flex-direction: column-reverse;

      .recipe-view h3{
        font-size: 24px;
      }
    }
  }

  .recipe-panel{
    margin-right: 5px;

    .recipe-menu{
      border-right: 1px solid aliceblue;
      margin: 10px -5px 0 5px;
      padding-right: 5px;
  
      .recipe-actions{
        font-size: 15px;
        color: #1c5c92;
        padding: 0px 5px 10px 10px;
        
        .recipe-action{
          padding-left: 20px;
          position: relative;
          padding-bottom: 2px;
          cursor: pointer;
          &.update{
            &:before{
              font-family: 'Material Icons';
              content: '\E923';
              font-size: 18px;
              position: absolute;
              left: -1px;
              top: -2px;
            }
          }
          &.delete{
            &:before{
              font-family: 'Material Icons';
              content: '\E92B';
              font-size: 20px;
              position: absolute;
              left: -2px;
              top: -5px;
            }
          }
          &:hover{
            color: orange;
            text-decoration-line: underline;
          }
        }
      }
  
      .recipe-versions{
        .recipe-versions-separator{
          margin-top: 5px;
          font-size: 15px;
          color: darkgoldenrod;
          display: inline-block;
          border-bottom: 1px solid antiquewhite;
        }
        .recipe-version{
          margin: 4px 2px;
          font-size: 14px;
          display: flex;
          justify-content: space-between;
          background-color: aliceblue;
          padding: 0 3px;
          border: 1px solid darkgrey;
          border-radius: 1px;
          user-select: none;
          cursor: pointer;
  
          .recipe-date{
            font-size: 13.5px;
            padding-top: 1px;
          }
  
          &:hover{
            background-color: lightgray;
            border: 1px solid goldenrod;
            text-shadow: 0px 0px 0px grey, 0px 0px 1px orange;
          }
        }
      }
  
    }
  
    .recipe-view{
      padding: 0 20px;
      h3{
        margin-left: 5px;
      }
      div{
        text-align: justify;
        margin-right: 15px;
        word-break: break-word;
        padding-left: 10px;
      }
    }
  }
}