#recipes-list{
  
  .recipes-container{
    margin: 0 25px;
    justify-content: space-evenly;
    .recipe{
      background-color: #fff;
      box-shadow: 1px 1px 4px 0px rgba(0,0,0,.4);
      border: 1px solid #edebeb;
      display: table;
      position: relative;
      height: 270px;
      margin: 0 15px 20px 0;
      min-width: 300px;
      max-width: 420px;
      img{
        width: 105px;
        height: 90px;
      }
      .recipe-title{
        max-height: 90px;
        word-break: break-word;
        text-align: justify;
        font-size: 15px;
        overflow-y: hidden;
        line-height: 21px;
        font-weight: 600;
        padding: 5px;
      }
      .recipe-desc{
        padding: 5px 5px 0 0;
        font-size: 14px;
        text-align: justify;
        word-break: break-all;
        max-height: 126px;
        overflow-y: auto;
      }
      .details-link{
        display: table-row-group;
        color: #1c5c92;
        text-align: right;
        font-style: italic;
      }
      .recipe-info{
        justify-content: space-between;
        padding: 2px 5px 5px 5px;
        font-size: 14px;
        color: darkgoldenrod;
        .recipe-date{
          margin-left: 20px;
          position: relative;
          &:before{
            font-family: "Material Icons";
            content: '\e916';
            font-size: 18px;
            position: absolute;
            top: -3px;
            left: -18px;
          }
        }
      }
    }
  }
}