#header{
  background-color: darkgray;
  display: block;
  text-align: left;
  height: 61px; 
  border-bottom: 1px solid lightblue;
  box-shadow: 0px 2px 4px rgba(241,200,71,0.9);
  
  h4 {
    height: 32px;
    padding: 5px 0 0 15px;
    margin-bottom: 4px;
    color: white;
    text-shadow: 1px 1px 1px #000000, 0px 0px 2px #111111;
  }

  .menu{
    height: 25px;
    padding: 2px 0 0 10px;
    font-size: 15px;
    background-color: ghostwhite;
    a{
      color: #1c5c92;
      padding: 0 25px 0 10px;
      &:hover{
        color: orange;
      }
    }
    .menu-item{
      margin-left: 15px;
      &.recipes-list{
        position: relative;
        &:before{
          font-family: 'Material Icons';
          content: '\e8ef';
          position: absolute;
          left: -20px;
          top: -5px;
          font-size: 19px;
        }
      }
      &.recipe-new{
        position: relative;
        &:before{
          font-family: 'Material Icons';
          content: '\e03b';
          position: absolute;
          left: -26px;
          top: -9px;
          font-size: 25px;
        }
      }
    }
  }
}