.App {

  .page-title{
    margin: 10px 0 20px 15px;
    font-size: 22px;
    border-bottom: 1px solid antiquewhite;
    width: 50%;
  }

  .no-data-prompt{
    color: gray;
    text-align: center;
    margin-top: 15px;
  }

  .fade-in-animation{
    animation: opacityOn 0.5s ease-in 0s 1 normal;
    animation-play-state: running;
    @keyframes opacityOn {
      0% {
          opacity: 0.3;
      }
      100% {
          opacity: 1;
      }
    }
  }
}
