#recipe-form-page{

  .recipe-form{
    margin: 0 auto;
    width: 100%;
    max-width: 350px;

    .form-header{
      text-align: center;
      margin-bottom: 0px;
      font-size: 21px;
    }

    .alert{
      padding: 2px 5px;
      text-align: center;
      margin: 2px 15px;
    }
  }
}